{:paths ["src"],
 :deps
 {org.clojure/clojure #:mvn{:version "1.12.3"},
  clj-http/clj-http #:mvn{:version "3.12.3"},
  org.clojure/core.async #:mvn{:version "1.6.681"},
  org.fudo/fudo-clojure
  #:git{:url "https://github.com/fudoniten/fudo-clojure.git",
        :sha "a32e527a6db2962f29bbbe33c1c3475c13198a08"}}}
